<header>
  <div>
    <ul class="language-nav">
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </div>
<img src="assets/AA_Times_Logo.png">

<div>
  <ul>
    <li >Tuesday, October 18, 2016</a></li>
    <li><a href="#">Today’s Paper</a></li>
    <li><a href="#">Video</a></li>
    <li class="ticker">77°F</li>
    <li class="ticker">AAO +100%</li>
  </ul>
  </div>
</header>