<header>
  <div>
    <ul class="language-nav">
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </div>

  <img id="title-pic" src="assets/AA_Times_Logo.png">

  <div>
    <ul class="current-nav">
      <li >Tuesday, October 18, 2016</li>
      <li><a href="#">Today’s Paper</a></li>
      <li><a href="#">Video</a></li>
      <li class="ticker">77°F</li>
      <li class="ticker">AAO <strong>+100%</strong></li>
    </ul>
  </div>

  <div>
    <ul class="sections-nav">
      <li>World</li>
      <li>San Francisco</li>
      <li>New York</li>
      <li>Bootcamp Prep</li>
      <li>Jumpstart</li>
      <li>Online</li>
      <li>Marketing</li>
      <li>Sales</li>
      <li>TalentMatch</li>
      <li>Alumni</li>
      <li class="underline">ALL</li>
    </ul>
  </div>
</header>