.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-nav {
  
  > ul {
    > li {
      padding: 5px;
      
    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
      padding: 2px;
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
