header {
	font: sans-serif;

  div {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-family: $sans-serif;
  }
	
	div > ul{
		display: flex;
		flex-direction: row;
		align-items: center;

    position: relative;
    justify-content: center;
	}

	li {
		margin: 1em;
	}

	.ticker:hover {
		color: gray;
	}

	li a:hover {
		text-decoration: underline;

	}
}


.masthead {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 2px solid black;
	position: relative;
}


.current-nav {
  > li {
    margin: 0;
    padding: 10px;
    border-right: 1px solid lightgray;
    margin-bottom: 3px;
  }

  > li:last-of-type { border-right: none; }

  border-bottom: 3px solid black;
}

.language-nav {
	top: -1.5em;
	// left: calc(50% - (177.78px/2));
	background: white;
	border: 1px solid $light-gray;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
  width: fit-content;
  height: 1.5em;
  margin-right: auto; // these two lines center
  margin-left: auto;

	a {
		margin: 0 5px;
		text-transform: uppercase;
		font-family: $sans-serif;
		font-size: 10px;
		color: $dark-gray;
	}
  
	ul {
    display: flex;
	}
}

i {
  margin-right: 5px;
}

strong {
  color: green;
}

.sections-nav {
  top: 3.5em;
  border-bottom: 1px solid $light-gray;
  .underline{text-decoration: underline;}
}

.logo {
	max-width: 400px;
	margin-top: 10px;
}

.masthead-links {
	display: flex;
	font-family: $sans-serif;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;

	li {
		margin-left: 10px;
		border-right: 1px solid $light-gray;
	}

	button {
		background: none;
		padding: 0px;
		color: #000;
		font-weight: normal;
		border: none;
	}

	button:hover {
		background-color: $lightest-gray;
	}

	a,
	button, 
	time {
		margin-right: 10px;
	}

}